<dom-module id="cells-silvino-login-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-silvino-login; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host .frmlogin {
  width: 400px;
  margin: 50px auto;
  height: 400px;
  border-radius: 8px;
  padding: 0px 9px 0px 9px;
  margin-top: 120px auto; }

:host .datospersonales {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  color: black; }

:host .datospersonales input {
  padding: 20px;
  border-radius: 12px;
  margin: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

:host .datospersonales a {
  display: block; }

:host .datospersonales button {
  display: inline-block;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; }

</style></template></dom-module>